<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page">
    {% include background.html %}
    <div class="container" id="ctner">
      {% include header.html %}
      <div class="div_article" id="div_atcl">       
        
        <div style="padding: 10px; border: 1px solid red; color: red; margin-bottom: 7px;">
          RAM Hacks has a new website! Please visit <a href="https://uri.edu/ramhacks">uri.edu/ramhacks</a> for updated information starting Fall 2020. This website will be retired soon. 
        </div>

        <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
          {{content}}
          {% include list_of_articles.html %}
        </article>
          {% if page.footer == true %}
          {% include footer.html %}
          {% endif %}
      </div>
    </div>
  </body>
</html>
